# SQL Create and Insert demo

This demo notebook illustrate how to create a database, create 2 tables and insert data in these tables using Python.

In [1]:
import sqlite3

# Create a SQLite database
conn = sqlite3.connect('../data/candidates.db')
cursor = conn.cursor()

# Create the 'list' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS list (
        list_id INTEGER PRIMARY KEY,
        list_name TEXT
    )
''')

# Create the 'candidate' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS candidate (
        candidate_id INTEGER PRIMARY KEY,
        candidate_name TEXT,
        list_id INTEGER,
        FOREIGN KEY (list_id) REFERENCES list (list_id)
    )
''')

# Insert data into the 'list' table
cursor.execute("INSERT INTO list (list_name) VALUES ('GRÃœNE')")
cursor.execute("INSERT INTO list (list_name) VALUES ('FDP')")
cursor.execute("INSERT INTO list (list_name) VALUES ('SP')")
cursor.execute("INSERT INTO list (list_name) VALUES ('SVP')")

# Insert data into the 'candidate' table
cursor.execute("INSERT INTO candidate (candidate_name, list_id) VALUES ('Alice', 1)")
cursor.execute("INSERT INTO candidate (candidate_name, list_id) VALUES ('Bob', 2)")
cursor.execute("INSERT INTO candidate (candidate_name, list_id) VALUES ('Charlie', 3)")
cursor.execute("INSERT INTO candidate (candidate_name, list_id) VALUES ('David', 4)")

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Database 'tinySQL.db' created and populated successfully.")

Database 'tinySQL.db' created and populated successfully.